
  .browseVideos {
    display: flex;
    background: var(--yt-spec-general-background-a);
  }

  .browseVideosList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
  }

  .videoPlayer {
    margin: 8px 8px 40px 8px;
    width:calc(100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin));
    padding-top: calc((100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin)) / var(--yt-image-aspect-ratio)  + var(--yt-thumbnail-details-height));
    margin-bottom: 1.5rem;
    position: relative;
  }

  .miniSidebarWrapper {
    position: sticky;
    top: var(--ytd-watch-flexy-masthead-height);
    background: var(--yt-spec-background-primary);
  }

  .emptyTemplate, .errorTemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
    .emptyTemplate-icon {
      width: 10rem;
      height: 10rem;
      font-size: 10rem;
      overflow: hidden;
      color: var(--yt-primary-50);
    }
    &__text {
      text-align: center;
      h2 {
        margin-bottom: 5px;
      }
    }
  }

  .errorTemplate {
    .errorTemplateIcon {
      width: 10rem;
      height: 10rem;
      font-size: 10rem;
      overflow: hidden;
      color: #f39c12;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

.pageButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pageButton:hover {
    background-color: #0056b3;
}

.pageButton:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

.pageInfo {
    font-size: 16px;
    color: #333;
    margin: 0 10px;
}
